<h1>New User</h1>
<!-- <form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="username">username</label>
  <input id="username" name="user[username]" type="text" />
  <br />
  <label for="email">email</label>
  <input id="email" name="user[email]" type="email" />
  <br />
  <label for="password">password</label>
  <input id="password" name="user[password]" type="password" />
  <br />
  <input type="submit" value="Save">
</form> -->

<%# form_tag("/users", method: "post") do %>
  <%# label_tag(:username, "Username") %>
  <%# text_field_tag(:username) %>

  <%# label_tag(:email, "Email") %>
  <%# email_field_tag(:email) %>

  <%# label_tag(:password, "Password") %>
  <%# password_field_tag(:password) %>
  <%# submit_tag("Save") %>
<%# end %>

<%= form_for @user do |f| %>
    <%= f.text_field :username, placeholder: "Your username here" %>
    <%= f.email_field :email, placeholder: "example@example.com" %>
    <%= f.password_field :password,  placeholder: "Your password here" %>
    <%= f.submit "Save" %>
  <% end %>
